@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


@keyframes glow {
    from { background-position: 0%; }
    to { background-position: 400%; }
}