@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


@keyframes glow {
    from { background-position: 0%; }
    to { background-position: 400%; }
}

.rainbow-background {
    position: relative;
    background: linear-gradient(
    90deg,
    #f9d923ee,
    #00a19dee,
    #0c87b7ee,
    #cb49ffee,
    #ff6666ee,
    #f9d923ee
  );
  background-size: 400%;
  animation: glow 55s linear infinite;
  box-shadow: 2px 2px 2px #00000020;
}
